.navbar {
    width: 100%;
    height: 30px;
    padding: 28px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(180deg, rgba(0,0,0 0.7) 10%,
    transparent);
    z-index: 1;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-left ul li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .icons {
    width: 20px;
    cursor: pointer;
}

.navbar-right .profile {
    border-radius: 4px;
    width: 35px;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

img {
    width: 19px;
}

.navbar .dropdown { 
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.navbar .dropdown p {
    font-size: 13px;
    cursor: pointer;
    
}

.navbar-profile:hover .dropdown {
    display: block;
}